.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brand-color);
    padding: 8px 64px;
}

.logo{
    font-size: 24px;
}

.selected{
    font-weight: 800;
}

.icon{
    display: none;
}

.items{
    list-style-type: none;
    display: flex;
}

.item{
    padding: 8px 16px;
    margin-left: 8px;
    font-size: 16px;
    border-radius: 4px;
}

.item:hover{
    background-color: var(--light-blue-color);
    cursor: pointer;
}


@media (max-width: 600px) {
    .navbar{
        flex-direction: column;
    }

}