@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

:root{
  --brand-color:#021e3e;
  --blue-grey-color:#002B5B;
  --light-blue-color: #256D85;
  --lighter-blue-color: #8FE3CF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--blue-grey-color);
  }
}
